/*Custom CSS*/

@font-face {
  font-family: 'Lane Narrow';
  src: url('../fonts/LANENAR_.ttf') format('truetype');
}

*::selection {
	background: rgb(22, 177, 115);
}

*::-moz-selection {
	background: rgb(22, 177, 115);
}

* {
	font-family: 'Lane Narrow';
}

body {
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
	background-repeat: round;
}

#header {
	position: fixed;
	top: 0pt;
	height: 75px;
	width: 100%;
	z-index: 2;
	background: white;
	border-style: solid;
	border-width: 0px;
	border-top-width: 5px;
	border-color: rgb(22, 177, 115);
	box-shadow: 0px 0px 10px;
}

#header #line {
	position: relative;
	/* height: 4pt; */
	width: 100%;
	background-color: rgb(22, 177, 115);
	box-shadow: 0px 0px 20px rgb(22, 177, 115);
}

#content {
	position: relative;
	top: 70pt;
	bottom: 10pt;
	overflow-x: hidden;
}

#footer {
	position: fixed;
	bottom: 0pt;
	width: 100%;
	height: 4pt;
	background-color: rgb(22, 177, 115);
	box-shadow: 0px 0px 10px black;
}

#forms {
	position: fixed;
	right: 25px;
	vertical-align: middle;
	top: 22px;
}

.form-inline {
	display: inline;
}

#headerContent {
	position: relative;
}

.btn {
	font-family: 'Open Sans';
	border-radius: 0px;
	border-width: 0px;
	border-bottom-width: 3px;
	box-shadow: 0px 0px 6px inset;
	padding-left: 10px;
	padding-right: 10px;
}

#navData {
	/* position: fixed; */
	left: 14px;
	/* top: 21px; */
	/* box-shadow: 0px 0px 5px; */
	height: 100%;
}

#navData .btn {
	border-radius: 0px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 4px;
	border-color: rgba(0, 0, 0, 0);
	background-color: white;
	color: gray;
	width: 67px;
	box-shadow: none;
}

#navData .btn:hover {
	border-bottom-color: rgb(22, 177, 115);
}

#navData .active {
	border-color: rgb(22, 177, 115);
	background: rgb(22, 177, 115);
	color: white;
}

.nav-small-text {
	padding-top: 10px;
	font-family: 'Open Sans';
	font-size: 10px;
}

.form-depression {
	margin-top: 10pt;
	text-align: center;
}

.form-title {
	text-align: center;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 60px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lane Narrow';
}


/*Footer divs*/

#about {
	position: fixed;
	bottom: -294px;
	left: 0px;
	right: 0px;
	background: rgb(22, 177, 115);
	height: 300px;
	color: white;
	z-index: 2;
	padding: 30px;
	box-shadow: 0px 0px 10px black;
}

#about-control {
	position: absolute;
	font-size: 50px;
	margin-top: -64px;
	padding: 4px;
	width: 231px;
	text-align: center;
	right: 40px;
	background: rgb(22, 177, 115);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-size: 19px;
	cursor: pointer;
	color: white;
	/* font-family: 'Open Sans'; */
	z-index: -2;
	/* font-weight: bold; */
	box-shadow: -1px 0px 10px rgb(22, 177, 115);
}

#about-title {
	font-size: 60px;
}

#about-about {
	font-family: 'Open Sans';
	font-size: 20px;
}

#about-follow {
	margin-top: 80px;
}

#about-follow span {
	cursor: pointer;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 5px;
	border-color: rgb(22, 177, 115);
	padding: 30px;
	font-size: 40px;
}

#about-follow span:hover {
	border-color: white;
}

/*Notifications CSS*/

.backStripes {
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	background-size: 40px 40px;
	background-image: -webkit-gradient(linear, left top, right bottom,
				color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
				color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
				color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
						 to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						 transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						 transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						 transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						 transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						  transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						  transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						  transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						   transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						   transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
}

.alert {
	color: #fff;
	padding: 15px;
	font-size: 18px;
	
	background-color: #de4343;
	position: relative;
	right: 20px;
}

.alert a {
	color: white;
	text-decoration: underline;
}