
#booksContainer .panel {
	width: 200px;
	height: auto;
	margin: 10px;
	float: left;
}


/*COVER CSS -----------------------------------------------------------------------*/
#cover {
	z-index: 3;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgb(3, 7, 4);
	padding-top: 10%;
	color: white;
}

#brandcover {
	font-size: 20px;
}

#brandtitle {
	font-family: 'Open Sans';
	font-weight: 'bold';
	font-size: 72px;
}

#lemmein {
	text-align: right;
}

#cover-form-title {
	font-size: 50px;
}

#cover .form-group {
	margin-left: 0px;
	margin-right: 0px;
}