<html>
	<head>
		<meta charset="UTF-8">
	  <title>404 Page</title>
	</head>
	<body>
		<div style="padding-top: 5%;">
		<center>
			<h3><i>the page you were searching could not be found.</h3>
			<img src="http://decocards.files.wordpress.com/2009/12/decemberr-09-torn-pages-calendar-1680x1050.jpg" alt="Page Not Found (404)." style=" width: 45%; height: 30%; "><br /><br />
			<!-- <img src="{% media 'bookManiacs/images/404.jpg' }" alt="Page Not Found (404)." style=" width: 45%; height: 30%; "> -->
			<h3><i>Try finding a book <a href="/bookManiacs/" style="text-decoration: none;">here</a></i></h3>
		</center>
		</div>

	</body>
</html>