<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}booksManiacs{% endblock %}</title>

		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/application.css' %}" />
		<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="{% static 'booksManiacs/font-awesome/css/font-awesome.min.css' %}">

		<script type="text/javascript" src="{% static 'booksManiacs/js/jquery-1.10.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/masonry.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/application.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/jquery-1.9.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/jquery-ui-1.10.4.js' %}"></script>

		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

		{% block staticFiles %}
		{% endblock %}

	</head>
	<body>
		<div id = "header">
			<div id = "line"></div>
			<div id = "headerContent">
				<!-- The three nav buttons -->
				<div id = "navData" class = "btn-group">
					<a href = "/booksManiacs/" class = "btn btn-success btn-lg" data-toggle="tooltip" data-placement="bottom" title = "Home">
						<i class = "fa fa-home fa-2x"></i>
					</a>
					{% if request.session.user %}
						<a href="/booksManiacs/profile/" class = "btn btn-success btn-lg" data-toggle="tooltip" data-placement="bottom" title = "Profile">
							<i class = "fa fa-user fa-2x"></i>
						</a>
						<a href="/booksManiacs/sell/" class = "btn btn-success btn-lg" data-toggle="tooltip" data-placement="bottom" title = "Sell">
							<i class = "fa fa-shopping-cart fa-2x"></i>
						</a>
					{% endif %}
					<button class = "btn btn-success btn-lg" data-toggle="modal" data-target = "#myModal">
						<i class = "fa fa-info-circle fa-2x"></i>
					</button>
				</div>

				<!-- Signin form -->
				<div id = "forms">
				{% if request.session.user %}
					<div class = "btn-group">
						<!-- Set URL for User Profile here @akshesh-->
						<a href = "/booksManiacs/profile/" class = "btn btn-info">
							<i class = "fa fa-user"></i> {{ request.session.user }}
						</a>

						<a href="/booksManiacs/logout/" class = "btn btn-danger">
							<i class = "fa fa-sign-out"></i> Sign Out
						</a>
					</div>

				{% else %}

					<form action="/booksManiacs/login/" method="POST" class = "form-inline">
						{% csrf_token %}
						<div class = "form-group">
							<input name = "user" type = "text" class = "form-control" placeholder = "Email" required>
						</div>
						<div class = "form-group">
							<input name = "password" type = "password" class = "form-control" placeholder = "Password" required>
						</div>
						<div class = "btn-group">
							<button type = "submit" class="btn btn-primary"><i class = "fa fa-sign-in"></i> Sign In</button>
							<a href = "/booksManiacs/signup" class="btn btn-success">
								<i class = "fa fa-share-square-o"></i> Sign Up
							</a>
						</div>
					</form>

				{% endif %}
				</div>
			</div>
		</div>

		<div id = "content">
			{% block container %}
			{% endblock %}
		</div>

		<div id = "follow">
			<a href = "http://fb.com/" target="_blank"><i class = "fa fa-facebook fa-lg"></i></a> <a href = "http://www.twitter.com" target = "_blank"><i class = "fa fa-twitter fa-lg"></i></a> <a href= "mailto:admin@gmail.com"><i class = "fa fa-envelope fa-lg"></i></a>
		</div>
		<div id = "footer">
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">booksManiacs</h4>
		      </div>
		      <div class="modal-body">
		        Lorem ipsum
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
	{% block endStaticFiles %}
	{% endblock %}
</html>