{% extends "base.html" %}

	{% load staticfiles %}

	{% block title %}
		Books | booksManiacs
	{% endblock %}

	{% block staticFiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/books.css' %}" />
		<script type="text/javascript" src="{% static 'booksManiacs/js/books.js' %}"></script>
	{% endblock %}

	{% block container %}
		<div id = "booksContainer">
			{% if books_available %}
				{% for book in books_available %}
					{% if book.avail_count %}
					<a href="/booksManiacs/items/{{ book.author }}" >
						<div class = "panel panel-primary">
							<div class = "panel-heading">
								<div class = "panel-title">{{ book.name }}
									<div class = "small"><i class="fa fa-pencil"></i>{{ book.author}}</div>
									<div><i class="fa fa-inr"></i> {{ book.price }}</div>
								</div>
								<div class = "panel-body">
									<img src="{% static 'booksManiacs/images/book.png' %}">
								</div>
							</div>
						</div>
					</a>
					{% endif %}
				{% endfor %}
			{% else %}

			{% endif %}
		</div>

		{% if request.session.user %}

		{% else %}
			<div id = "cover">
				<div id = "brandcover">
					<div id = "brandtitle"><i class ="fa fa-book"></i> booksManiacs</div>
					<hr>
					<p><i class="fa fa-inr"></i> Cheap books ! <i class = "fa fa-star-o"></i> Great Deals !</p>
				</div>
				<div id = "signinform">
				<form action="/booksManiacs/login/" method="POST" class = "form-horizontal">
					{% csrf_token %}
					<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-user"></i></div>
						<input name = "user" type = "text" class = "form-control" placeholder = "Email" required>
					</div>
					</div>

					<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-key"></i></div>
						<input name = "password" type = "password" class = "form-control" placeholder = "Password" required>
					</div>
					</div>

					<div class="form-group">
						<button type = "submit" class="form-control btn btn-primary"><i class = "fa fa-sign-in"></i> Sign In</button>
					</div>
					<div class="form-group">
						<a href = "/booksManiacs/signup" class="form-control btn btn-success">
							<i class = "fa fa-share-square-o"></i> Sign Up
						</a>
					</div>
				</form>
				<fb:login-button show-faces="true" width="200" max-rows="1" ></fb:login-button>
				</div>
				<div id = "lemmein">
				<button class="btn btn-primary" onclick="coverUp()">Explore <i class = "fa fa-compass"></i></button>
				</div>
			</div>
		{% endif %}

	{% endblock %}

	{% block endStaticFiles %}

		<script type="text/javascript">
			jQuery(document).ready(function() {
			var $container = $('#booksContainer');
			$container.masonry({
				itemSelector:'.panel',
				isAnimated:true,
				animationOptions:{
					duration:750,
					easing:'linear',
					queue:false
				}
			});
		})
		</script>

		<!--Adding facebook sdk-->
		<!-- <div id="fb-root"></div> -->
		<script>
			window.fbAsyncInit = function() {
			FB.init({
			appId      : '1475953279287705',
			status     : true, // check login status
			cookie     : true, // enable cookies to allow the server to access the session
			xfbml      : true  // parse XFBML
			});

			// Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
			// for any authentication related change, such as login, logout or session refresh. This means that
			// whenever someone who was previously logged out tries to log in again, the correct case below
			// will be handled.
			FB.Event.subscribe('auth.authResponseChange', function(response) {
			// Here we specify what we do with the response anytime this event occurs.
			if (response.status === 'connected') {
				// The response object is returned with a status field that lets the app know the current
				// login status of the person. In this case, we're handling the situation where they
				// have logged in to the app.
				testAPI();
				} else if (response.status === 'not_authorized') {
				// In this case, the person is logged into Facebook, but not into the app, so we call
				// FB.login() to prompt them to do so.
				// In real-life usage, you wouldn't want to immediately prompt someone to login
				// like this, for two reasons:
				// (1) JavaScript created popup windows are blocked by most browsers unless they
				// result from direct interaction from people using the app (such as a mouse click)
				// (2) it is a bad experience to be continually prompted to login upon page load.
				FB.login();
				} else {
				// In this case, the person is not logged into Facebook, so we call the login()
				// function to prompt them to do so. Note that at this stage there is no indication
				// of whether they are logged into the app. If they aren't then they'll see the Login
				// dialog right after they log in to Facebook.
				// The same caveats as above apply to the FB.login() call here.
				FB.login();
				}
			});
			};

			// Load the SDK asynchronously
			(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
			}(document));

			// Here we run a very simple test of the Graph API after login is successful.
			// This testAPI() function is only called in those cases.
			function testAPI() {
			console.log('Welcome!  Fetching your information.... ');
			FB.api('/me', function(response) {
			  console.log('Good to see you, ' + response.name + '.');
			});
			}
		</script>

		<!--
		  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
		  present a graphical Login button that triggers the FB.login() function when clicked. -->

		<!--Facebook sdk over -->


	{% endblock %}