<html>
	<head>
		<title>books - booksManiacs</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/application.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/books.css' %}">
		<script type="text/javascript" src="{% static 'booksManiacs/js/jquery-1.10.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/application.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/masonry.js' %}"></script>
	</head>
	<body>
	<div id = "booksContainer">
		{% if books_available %}
			{% for book in books_available %}
				{% if book.avail_count %}
				<a href="/booksManiacs/items/{{ book.author }}" >
					<div class = "panel panel-primary">
						<div class = "panel-heading">
							<div class = "panel-title">{{ book.name }}
								<div class = "small"><i class="fa fa-pencil"></i>{{ book.author}}</div>
								<!-- <div><i class="fa fa-inr"></i> {{ book.price }}</div> -->
							</div>
							<div class = "panel-body">
							</div>
						</div>
					</div>
				</a>
				{% endif %}
			{% endfor %}
		{% else %}
			<div class = "panel panel-primary">
			<div class = "panel-heading">
			<p>No books Available !</p>
			</div>
			</div>
		{% endif %}	
	</div>	

	<!-- -->
		<div id = "cover" onclick="coverUp()">
			<div id = "brandcover">
				<div id = "brandtitle"><i class ="fa fa-book"></i> bookManiacs</div>
				<hr>
				<p><i class="fa fa-inr"></i> Cheap books ! <i class = "fa fa-star-o"></i> Great Deals !</p>
			</div>
		</div>
	</body>


<script type="text/javascript">
	jQuery(document).ready(function() {
	var $container = $('#booksContainer');
	$container.masonry({
		itemSelector:'.panel',
		isAnimated:true,
		animationOptions:{
			duration:750,
			easing:'linear',
			queue:false
		}
	});
})

	function coverUp(){
		$("#cover").fadeOut();
	}
</script>
</html>