{% extends "base.html" %}

	{% load staticfiles %}
	
	{% block title %}
		Books | booksManiacs
	{% endblock %}
	
	{% block staticFiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/home.css' %}" />
		<script type="text/javascript" src="{% static 'booksManiacs/js/home.js' %}"></script>
	{% endblock %}

	{% block container %}
		<div id = "booksContainer">
			{% if books_available %}
				{% for book in books_available %}
					{% if book.avail_count %}
					<a href="/booksManiacs/items/{{ book.author }}" >
						<div class = "panel panel-primary">
							<div class = "panel-heading">
								<div class = "panel-title">{{ book.name }}
									<div class = "small"><i class="fa fa-pencil"></i>{{ book.author}}</div>
									<div><i class="fa fa-inr"></i> {{ book.price }}</div>
								</div>
								<div class = "panel-body">
									<img src="{% static 'booksManiacs/images/book.png' %}">
								</div>
							</div>
						</div>
					</a>
					{% endif %}
				{% endfor %}
			{% else %}
				
			{% endif %}	
		</div>
		
		{% if name %}

		{% else %}
			<div id = "cover">
				<div id = "brandcover">
					<div id = "brandtitle"><i class ="fa fa-book"></i> booksManiacs</div>
					<hr>
					<p><i class="fa fa-inr"></i> Cheap books ! <i class = "fa fa-star-o"></i> Great Deals !</p>
				</div>
				<div id = "signinform">
				<form action="/booksManiacs/login/" method="POST" class = "form-horizontal">
					{% csrf_token %}
					<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-user"></i></div>
						<input name = "user" type = "text" class = "form-control" placeholder = "Email" required>
					</div>
					</div>

					<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-key"></i></div>
						<input name = "password" type = "password" class = "form-control" placeholder = "Password" required>
					</div>
					</div>

					<div class="form-group">
						<button type = "submit" class="form-control btn btn-primary"><i class = "fa fa-sign-in"></i> Sign In</button>
					</div>
					<div class="form-group">
						<a href = "/booksManiacs/signup" class="form-control btn btn-success">
							<i class = "fa fa-share-square-o"></i> Sign Up
						</a>
					</div>
				</form>
				</div>
				<div id = "lemmein">
				<button class="btn btn-primary" onclick="coverUp()">Explore <i class = "fa fa-compass"></i></button>
				</div>
			</div>
		{% endif %}

	{% endblock %}