
<html>
	<head>
		<title>
			booksManiacs
		</title>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/style.css' %}" />
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/css/books.css' %}" />  -->
		<script type="text/javascript" src="{% static 'booksManiacs/js/jquery-1.10.2.js' %}"></script>
		<script type="text/javascript" src="{% static 'booksManiacs/js/script.js' %}"></script>

	</head>
	<body>
		<!--if logged in the user will see the following content-->
		{% if name %}
			<h1> this is the home page of the booksManiacs site and you are logged in</h1>
			<a href="/booksManiacs/logout/">logout</a>
			<!--if not logged in person will see this-->
			<div id = "cover">
				<div id = "brandcover">
					<div id = "brandtitle"><i class ="fa fa-book"></i> booksManiacs</div>
					<hr>
					<p><i class="fa fa-inr"></i> Cheap books ! <i class = "fa fa-star-o"></i> Great Deals !</p>
					<a href="/booksManiacs/books/">here</a> is the list of books we have.
				</div>
			</div>
		{% else %}
			<a href="/booksManiacs/login/">login</a>
			<div id="logged_out">
				hello world !
				<form action="/booksManiacs/login/" method="POST">
					{% csrf_token %}
					<label>email</label><input name="user" type="email" required>
					<label>password</label><input name="password" type="password" required>
					<input type="submit">
				</form>
			{% if messageString %}
				{{ messageString }}
			{% endif %}
				<div onclick="showSignup();">S!gnup</div>
				<div id="signup">
					<form action="/booksManiacs/signup/" method="POST">
						{% csrf_token %}
						<label>name</label><input type="input" name="name" required>
						<label>email id</label><input type="email" name="email" required>
						<label>phone number</label><input type="input" name="phone" required>
						<label>password</label><input type="password" name="pass" required>
						<label>confirm password</label><input type="password" name="confPass" required>
						<label>bhawan</label>
						<!-- <select name="bhawan" onfocus='this.size=10;' onblur='this.size=1;' onchange='this.size=1; this.blur();'> -->
						<select name="bhawan">
							<option value="null"> --------  </option>
							<option value="rkb">Radha Krishnan</option>
							<option value="clb">Cautley</option>
							<option value="rjb">Rajendra</option>
							<option value="gnb">Ganga</option>
						</select>
						<label>Room number</label><input type="input" name="room">
						<label>enrollment number</label><input type="input" name="enrNo">
						<label>year</label><input type="input" name="year">
						<!--/////////////////////////////////   add the select tag for year here ////////////////-->
						<input type="submit">
					</form>
				</div>
			</div>
			{% if errorString %}
				{{ errorString }}
			{% endif %}
		{% endif %}
		<!--logged in content ends-->
		<div id="logged_in">the booksManiacs are here</div>

		
		


	</body>
</html>