
<html>
	<head>
		<title>
			booksManiacs
		</title>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'booksManiacs/style.css' %}" />

	</head>
	<body>

		<h1> this is the home page of the booksManiacs site </h1>


		<!--if not logged in person will see this-->
		<div id="logged_out">
			hello world !
			<form>
				<label>email</label><input type="input">
				<label>password</label><input type="input">
				<input type="submit">
			</form>
			<form>
				<label></label><input type="input">
				<label></label><input type="input">
				<label></label><input type="input">
				<label></label><input type="input">
				<label></label><input type="input">
				<label></label><input type="input">
				<label></label><input type="submit">
			</form>
		</div>




		<!--if logged in user will see this-->
		<div id="logged_in">the booksManiacs are here</div>

	</body>