{% extends "base.html" %}
	<h1 class="form-title">Sign Up</h1>
	<hr>
	<div class = "form-depression">
		<form action="/booksManiacs/signup/" method="POST" class = "form-horizontal">
			{% csrf_token %}

			<div class="form-group">
			<label class="col-lg-5 control-label">Name</label>
			<div class="col-lg-3">
				<input type="input" name="name" required class = "form-control">
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Email</label>
			<div class="col-lg-3">
			<div class="input-group">
				<div class="input-group-addon"><i class = "fa fa-user"></i></div>
				<input type="email" name="email" required class = "form-control">
			</div>
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Phone</label>
			<div class="col-lg-3">
			<div class="input-group">
				<div class="input-group-addon">+91</div>
				<input type="input" name="phone" required class = "form-control">
			</div>
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Password</label>
			<div class="col-lg-3">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-key"></i></div>
				<input type="password" name="pass" required class = "form-control">
			</div>
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Confirm Password</label>
			<div class="col-lg-3">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-key"></i></div>
				<input type="password" name="confPass" required class = "form-control">
			</div>
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Bhawan</label>
			<div class="col-lg-3">
				<select name="bhawan" class = "form-control">
					<option value="null"> --------  </option>
					<option value="rkb">Radha Krishnan</option>
					<option value="clb">Cautley</option>
					<option value="rjb">Rajendra</option>
					<option value="gnb">Ganga</option>
				</select>
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Room Number</label>
			<div class="col-lg-3">
				<input type="input" name="room" required class = "form-control">
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Enrollment Number</label>
			<div class="col-lg-3">
				<input type="input" name="enrNo" required class = "form-control">
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Year</label>
			<div class="col-lg-3">
				<input type="input" name="year" required class = "form-control">
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label"></label>
			<div class="col-lg-3">
				<input type="submit" class="form-control btn btn-success" value = "Sign Up">
			</div>
			</div>
		</form>
	</div>