<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}bookManiacs{% endblock %}</title>

		{% load staticfiles %}

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'bookManiacs/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'bookManiacs/css/application.css' %}" />
		<link rel="stylesheet" href="{% static 'bookManiacs/font-awesome/css/font-awesome.min.css' %}">

		<script type="text/javascript" src="{% static 'bookManiacs/js/jquery-1.10.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bookManiacs/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bookManiacs/js/masonry.js' %}"></script>
		<script type="text/javascript" src="{% static 'bookManiacs/js/application.js' %}"></script>
		<script type="text/javascript" src="{% static 'bookManiacs/js/jquery-1.9.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'bookManiacs/js/jquery-ui-1.10.4.js' %}"></script>

		<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->

		{% block staticFiles %}
		{% endblock %}

	</head>
	<body>
		<div id = "header">
			<div id = "headerContent">
				<!-- The three nav buttons -->
				<div id = "navData" class = "btn-group">
					{% if request.session.user %}
						{% block nav %}
							<a href = "/bookManiacs/" class = "btn btn-success btn-lg active">
								<i class = "fa fa-home"></i>
								<div class = "nav-small-text">Home</div>
							</a>
							<a href="/bookManiacs/profile/" class = "btn btn-success btn-lg">
								<i class = "fa fa-user"></i>
								<div class = "nav-small-text">Profile</div>
							</a>
							<a href="/bookManiacs/sell/" class = "btn btn-success btn-lg">
								<i class = "fa fa-shopping-cart"></i>
								<div class = "nav-small-text">Sell</div>
							</a>
						{% endblock %}
					{% else %}
						<a href = "/bookManiacs/" class = "btn btn-success btn-lg active">
							<i class = "fa fa-home"></i>
							<div class = "nav-small-text">Home</div>
						</a>
						<a href="/bookManiacs/profile/" class = "btn btn-success btn-lg disabled">
							<i class = "fa fa-user"></i>
							<div class = "nav-small-text">Profile</div>
						</a>
						<a href="/bookManiacs/sell/" class = "btn btn-success btn-lg disabled">
							<i class = "fa fa-shopping-cart"></i>
							<div class = "nav-small-text">Sell</div>
						</a>
					{% endif %}
				</div>

				<!-- Signin form -->
				<div id = "forms">
				{% if request.session.user %}
					<div class = "btn-group">
						<div class="btn-group">
						  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" id = "user-btn">
						    {{ request.session.name }} <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="/bookManiacs/profile/"><i class = "fa fa-user"></i> Profile</a></li>
						    <li><a href="/bookManiacs/password/"><i class = "fa fa-key"></i> Change Password</a></li>
						    <li class="divider"></li>
						    <li><a href="/bookManiacs/logout/"><i class = "fa fa-sign-out"></i> Sign Out</a></li>
						  </ul>
						</div>
					</div>

				{% else %}

					<form action="/bookManiacs/login/" method="POST" class = "form-inline">
						{% csrf_token %}
						<div class = "form-group">
							<input name = "user" type = "text" class = "form-control" placeholder = "Email" required>
						</div>
						<div class = "form-group">
							<input name = "password" type = "password" class = "form-control" placeholder = "Password" required>
						</div>
						<div class = "btn-group">
							<button type = "submit" class="btn btn-primary"><i class = "fa fa-sign-in"></i> Sign In</button>
							<a href = "/bookManiacs/signup" class="btn btn-success">
								<i class = "fa fa-share-square-o"></i> Sign Up
							</a>
						</div>
					</form>

				{% endif %}
				</div>
			</div>
		</div>

		<div id = "content">
			{% block container %}
			{% endblock %}
		</div>

		<div id = "about" class = "row">
			<div id = "about-control"><i class = "fa fa-angle-double-up"></i> bookManiacs</div>
			<div id = "about-text" class = "col-md-offset-1 col-md-6">
				<div id = "about-title">bookManiacs</div>
				<blockquote id = "about-about">
					Buy Cheap books | Sell with good profit
					<div>
						bookManiacs is a place where you will find books<br>
						at lower price tags than market and sell at higher price.
					</div>
				</blockquote>
			</div>
			<div id = "about-follow" class = "col-md-offset-1 col-md-4">
				<span>
					<i class = "fa fa-facebook"></i>
				</span>
				<span>
					<i class = "fa fa-twitter"></i>
				</span>
				<span>
					<i class = "fa fa-envelope"></i>
				</span>
			</div>
		</div>
	</body>
	{% block endStaticFiles %}
	{% endblock %}
</html>