/*Custom CSS*/

#header {
	position: fixed;
	top: 0pt;
	height: 60pt;
	width: 100%;
	/*background-image: url("images/bg.jpg");*/
	background-color: white;
	z-index: 2;
	box-shadow: 0px 0px 20px black;
}

#header #line {
	position: relative;
	height: 4pt;
	width: 100%;
	background-color: rgb(22, 177, 115);
	box-shadow: 0px 0px 20px rgb(22, 177, 115);
}

#content {
	position: relative;
	top: 70pt;
	bottom: 10pt;
}

#footer {
	position: fixed;
	bottom: 0pt;
	width: 100%;
	height: 4pt;
	background-color: rgb(22, 177, 115);
	box-shadow: 0px 0px 10px black;
}

body {
 	background-image: url("/static/booksManiacs/images/bg.jpg");
 	background-attachment: fixed;
}

#forms {
	float: right;
	padding: 15pt;
}

.form-inline {
	display: inline;
}

#headerContent {
	position: relative;
}

#navData {
	float: left;
	padding: 6pt;
}

#follow {
	padding: 8pt;
	position: fixed;
	bottom: 0pt;
	right: 20pt;
	height: auto;
	border-top-right-radius: 5pt;
	border-top-left-radius: 5pt;
	background-color: rgba(255,255,255,0.72);
	box-shadow: 0px 0px 20px black;
}

#follow i{
	margin-right: 10pt;
	margin-left: 10pt;
}

.form-depression {
	margin-top: 10pt;
	text-align: center;
}

.form-title {
	text-align: center;
	margin-top: 20pt;
	margin-left: 30pt;
	font-size: 50pt;
	text-shadow: 0px 0px 10px;
}

#brand {
	position: absolute;
	left: 238pt;
	top: -5pt;
	color: rgba(22, 177, 115, 0);
	font-size: 40pt;
	text-shadow: 0px 0px 6px rgb(0,0,0);
	z-index: -2;
}

#adminControls {
	position: fixed;
	top: 11pt;
	left: 485pt;
}

*::selection {
	background: rgb(22, 177, 115);
}

*::-moz-selection {
	background: rgb(22, 177, 115);
}