.sellBuyWrap {
	padding: 0px;
	background: white;
	border-radius: 2px;
	box-shadow: 0px 0px 10px;
	/*margin-left: 20px;*/
}

.sellBuyWrap ul {
	list-style: none;
	padding: 0px;
}

.sellBuyWrap li {
	padding: 10px;
}

.sellBuyWrap ul li:nth-child(2n+1) {
	background: rgb(201, 246, 246);
}

.sellBuyWrap ul li:nth-child(2n) {
	background: rgb(186, 255, 165);
}

.sellBuyWrap li>a {
	float: right;
}

.sellBuyTitle {
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-top-width: 6px;
	border-color: rgb(15, 173, 34);
	margin-top: 20pt;
	margin-left: 30pt;
	font-size: 30pt;
	text-shadow: 0px 0px 10px;
}

#sellTitle {
	margin: 0px;
	/*float: right;*/
}

#buyTitle {
	margin: 0px;
	/*float: left;*/
}

.buySellWarn {
	padding: 10px;
	background: rgb(255, 107, 24);
}

#addBook, #buyBook {
	float: right;
	margin: 10px;
}

#editProfile {
	text-align: right;
	padding-right: 20px;
}