{% extends "base.html" %}
	
	{% load staticfiles %}

	{% block title %}
		Change Password | bookManiacs
	{% endblock %}

	{% block staticFiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'bookManiacs/css/password.css' %}" />
	{% endblock %}

	{% block container %}

		<div class = "form-depression">
		<h1 class="form-title">Change Password</h1>
		<hr>
		<form action="" method="POST" class = "form-horizontal">
			{% csrf_token %}

			<div class="form-group">
			<label class="col-lg-5 control-label">Current password</label>
			<div class="col-lg-3">
				<input type="password" name="oldPass" class = "form-control">
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">New password</label>
			<div class="col-lg-3">
				<input type="password" name="newPass" class = "form-control">
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label">Confirm New password</label>
			<div class="col-lg-3">
				<input type="password" name="confPass" class = "form-control">
			</div>
			</div>

			<div class="form-group">
			<label class="col-lg-5 control-label"></label>
			<div class="col-lg-3">
				<input type="submit" class="form-control btn btn-success" value = "Submit">
			</div>
			</div>
		</form>

	{% endblock %}